<!-- <div class="contact-wrap"> -->
<!-- <div fxFlex="100" fxFlex.gt-xs="33.3">
    <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
    <mat-icon style="color: #b1a58a;" class="mat-icon-lg">home</mat-icon>
    <h3 class="primary py-1">{{'contact.ADDRESS'|translate}}</h3>
    <span class="text-muted">{{(listSandbox.settingDetail$ | async)?.storeAddress}}</span>
    </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
    <div fxLayout="column" fxLayoutAlign="center center">
    <mat-icon style="color: #b1a58a;" class="mat-icon-lg">call</mat-icon>
    <h3 class="primary py-1">{{'contact.PHONES'|translate}}</h3>
    <span class="text-muted">{{(listSandbox.settingDetail$ | async)?.storeTelephone}}</span>
    </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
    <div fxLayout="column" fxLayoutAlign="center center">
    <mat-icon style="color: #b1a58a;" class="mat-icon-lg">mail_outline</mat-icon>
    <h3 class="primary py-1">{{'contact.E-MAIL'|translate}}</h3>
    <span class="text-muted">{{(listSandbox.settingDetail$ | async)?.storeEmail}}</span>
    </div>
    </div> -->
<!-- <div class="divider w-100 mt-2"></div> -->
<mat-card class="contact-wrap">
    <div class="contact-form">
        <h3>{{'contact.CONTACTUS'|translate}}</h3>

        <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)">

            <div class="input-group" [ngClass]="{'validationcolor':((contactForm.controls.name.errors?.required)&&(submitted))}">
                <p>{{'contact.Name'|translate}}<sup>*</sup></p>
                <input (keyup)="onKeyPress($event, 'name')" placeholder="{{'contact.Name'|translate}}" formControlName="name" required>
                <mat-error *ngIf="contactForm.controls['name'].errors?.required && submitted">
                    {{'Error.NameIsRequired'|translate}}</mat-error>
            </div>


            <div class="input-group" [ngClass]="{'validationcolor':((contactForm.controls.email.errors?.required)&&(submitted))}">
                <p>{{'contact.Email'|translate}}<sup>*</sup></p>
                <input placeholder="{{'contact.Email'|translate}}" formControlName="email" required>
                <mat-error *ngIf="contactForm.controls['email'].errors?.required && submitted">
                    {{'Error.EmailIsRequired'|translate}}</mat-error>
                <mat-error *ngIf="contactForm.controls['email'].hasError('invalidEmail') && submitted">
                    {{'Error.InvalidEmailAddress'|translate}}</mat-error>
            </div>


            <div class="input-group" [ngClass]="{'validationcolor':((contactForm.controls.phone.errors?.required)&&(submitted))}">
                <p>{{'contact.Phone'|translate}}<sup>*</sup></p>
                <input placeholder="{{'contact.Phone'|translate}}" formControlName="phone" maxlength="15" appOnlyNumber required>
                <mat-error *ngIf="contactForm.controls['phone'].errors?.required && submitted">
                    {{'Error.PhoneIsRequired'|translate}}</mat-error>
            </div>


            <div class="input-group" [ngClass]="{'validationcolor':((contactForm.controls.message.errors?.required)&&(submitted))}">
                <p>{{'contact.Message'|translate}}<sup>*</sup></p>
                <textarea (keyup)="onKeyPress($event, 'message')" placeholder="" formControlName="message" required></textarea>
                <mat-error *ngIf="contactForm.controls['message'].errors?.required && submitted">
                    {{'Error.MessageIsRequired'|translate}}</mat-error>
            </div>

            <div>
                <button mat-raised-button color="primary" class="contact-wrap" type="submit">{{'contact.Submit'|translate}}</button>
            </div>
        </form>
    </div>
    <div class="contact-img">
        <img src="assets/img/contact-img.svg">
    </div>
    <!-- </div> -->
</mat-card>

<!-- </div> -->