<div class="text-muted chk-shp">
    <p>{{'products.AvailableOptions'|translate}}</p>
    <div class="ao-wrap ">
    
        <ng-container *ngIf="variantDetails&& variantDetails.length > 0">
            <ng-container *ngFor="let variantDetail of variantDetails; last as isLast">
                <div class="flex aop aop-sc" [ngClass]="{'aop-sc': !isLast}">
                    <p> {{ variantDetail.name }} </p>
                    <div class="aopsc-rt">
                    
                        <mat-radio-group aria-label="Select an option" name="variant-{{ variantDetail.id }}"
                        [ngModel]="selectedVariant[variantDetail.id]">
                       
                            <ng-container *ngFor="let variantValue of variantDetail.varientsValue">
                                <!-- <div class="varient-padding"> -->
                                <mat-radio-button color="primary" [value]="variantValue.id"
                                (click)="changeVariant(variantDetail.id, variantValue.id, variantValue)" style="width: 100px;" > {{
                                variantValue.valueName }} </mat-radio-button>
                             <!-- </div> -->
                            </ng-container>
                       
                        </mat-radio-group>
                   
                       
                    </div>
                </div>
            </ng-container>
        </ng-container>
     
    </div>
</div>