

    <h2 mat-dialog-title>{{'ReportAbuse.ReportAbuse'|translate}}
      <button class="clos-btn" [mat-dialog-close]="true" aria-label="Close">
          <span aria-hidden="true">&times;</span>

      </button>
  </h2>
 <mat-dialog-content class="mat-typography">
   <form [formGroup]="reportAbuseForm">
    <div class='some-page-wrapper'>
        <div class='row'>
          <div class='column'>
            <div class='left-column'>
              <label>{{'ReportAbuse.Reason'|translate}}</label>
              <select formControlName="reason">
                <option selected disabled hidden value="">{{'ReportAbuse.Select'|translate}}</option>
                <option *ngFor="let list of sandbox.abuseReasonList$ | async" [value]="list.id">{{list.reason}}</option>
              </select>
              <div class="error" *ngIf="reportAbuseForm.controls['reason'].hasError('required') && submitted">{{'ReportAbuse.selectreason'|translate}}</div>              

            </div>
          </div>
          <div class='column'>
            <div class='right-column'>
                <label class="remark">{{'ReportAbuse.Remark'|translate}}</label>
                <textarea name="remark" formControlName="remark"></textarea>
                <div class="error remark" *ngIf="reportAbuseForm.controls['remark'].hasError('required') && submitted">{{'ReportAbuse.enterremark'|translate}}</div>              
              </div>
          </div>
        </div>
      </div>
      </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="foot button-container"> 
  <button type="button" class="btn spinner-button" mat-raised-button (click)="submit()" [disabled]="(sandbox.reportAbuseLoading$ | async)">
      <mat-spinner diameter="25" color="primary" *ngIf="sandbox.reportAbuseLoading$ | async">
        </mat-spinner> <span>{{'ReportAbuse.submit'|translate}}</span>
  </button>
  <button type="button" [mat-dialog-close]="true" mat-raised-button class="btn">{{'ReportAbuse.cancel'|translate}}</button>
</mat-dialog-actions>
