ion-title {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

ion-content {
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 16px;
  --padding-bottom: 16px;

  ion-card {
    // padding: 10px;
    padding: 10px 10px 5px;
    margin-bottom: 20px;

    h3 {
      font-size: 14px;
      font-weight: 400;
      color: #1e1d25;
      margin: 0 0 10px;
    }

    // ion-row {
    //   ion-col {
    //     p {
    //       text-align: right;
    //       font-size: 11px;
    //       font-weight: 400;
    //       color: #1e1d25;
    //       line-height: 13px;
    //       margin: 0 0 6px;
    //     }
    //     &.quo {
    //       p {
    //         text-align: left;
    //         color: #163A9C;
    //       }
    //     }
    //   }
    // }


    .qtyRow {
      display: flex;
      padding: 3px 0;

      .qtyTitle {
        min-width: 36%;
      }

      .qtyContent {
        color: #163A9C;
        margin-left: 15px;
      }
    }

  }
}