.header-section {
    display: flex;
    justify-content: space-between;
    padding: 32px 104px 32px 32px;
    .logo {
      width: 30%;
    }
  }
  .recover-back {
  
    a {
      font-size: 15px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #887e7e;
      margin-top: 40px;
    }
  }
  .body-section {
    background: #fafafa;
    padding: 48px 0px;
    min-height: calc(100vh - 175px);
    .recover-form{
      width: 422px;
      margin: auto;
      .pwd-title {
        font-size: 17px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1d5ed8;
        display: block;
        margin-bottom: 15px;
        background: #fff;
        padding: 1em;
        &.pwd-link-expired {
          color: red !important;
          padding: 1.5em !important;
        }
      }
      .content {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1b1b1c;
        display: block;
      }
      input {
        height: 50px;
        border: solid 1px #d6d6d6;
        background-color: #fcfcfc;
        width: 100%;
        margin: 15px 0px;
        padding: 0px 16px;
      }
      button {
        height: 53px;
        border-radius: 3px;
        background-color: #1d5ed8;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
        display: block;
        width: 100%;
        border: none;
        margin-top: 30px;
        i {
          font-size: 22px;
          margin-right: 10px;
        }
      }
    }
    .error-data {
      color: #ffedeb;
      position: absolute;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ff0101;
    }
  }
  .invalid {
    border: 1px solid red !important;
  }
  .errMsg {
    font-size: 11px !important;
    color: red !important;
  }
  .lds-spinner {
    //color: official;
    //display: inline-block;
    //position: relative;
    //width: 64px;
    //height: 64px;
    position: absolute;
    left: 43%;
    top:50%;
    transform: translate(-50% , -50%);
  }
  .lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background:  #215b9a;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  