.products-tabs{
    margin-top: 30px;   
}
.home-adds {
    justify-content: space-between;
    margin-bottom: 30px;
    .hads-col {
        width: 33.33%;
        img {
            width: 100%;
            display: block;
            height: 100%;
        }
        &:nth-child(2) {
            width: calc(33.33% - 32px);
            margin: 0 16px;
        }
    }
}
h2{
    font-family:Roboto, Helvetica Neue, sans-serif;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.home-ad-wrapper {
    margin: 16px 0;
    justify-content: center;
    align-items: center;
    a {
        img {
            width: auto;
            max-width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .home-adds {
        padding: 0 1rem;
        .hads-col {
            width: 100%;
            margin-bottom: 1rem;
            &:nth-child(2) {
                width: 100%;
                margin:0 0 1rem;
            }
        }
    }
}