.colorMenu {
  color: white;
  
}
.menu-column {
  padding: 16px 24px 0;
  .mat-menu-item.matMenuTitle {
    line-height: 18px;
    margin-bottom: 7px;
    background: none;
    &:hover {
      background: transparent;
    }
   
  }
  .mat-menu-item {
    line-height: 18px;
    margin-bottom: 7px;
    &:hover {
      background: transparent;
    }
    &:active{
      background-color: transparent !important;
    }
  }
  &:nth-child(even) {
    background: #f9f9f9;
  }
 
 
}
.mat-button ::ng-deep .mat-button-focus-overlay {
  display: none;
}

//   ::ng-deep.mat-menu-panel {
//   max-width: 70% !important;
//   margin: 0 auto;
// }

// @media only screen and (max-width: 1280px) {
//  ::ng-deep.mat-menu-panel {
  // max-width: 70% !important;
  // margin: 0 auto;
// }
// }


// .cdk-overlay-pane.mega-menu-pane .mat-menu-panel{
//   width: 64% !important;
//   left: 350px !important;
//   justify-content: center !important;
// }

// ::ng-deep .mat-menu-panel {
//   padding: 0 10px!important;
//   width: 70%!important;
//   left: 0 !important;
// }


// .mega-menu-pane
// .cdk-overlay-connected-position-bounding-box{
//   top: 104px;
//   left: 0 !important;
//   right: 0 !important;
//   max-height: 500px;
//   width: 1259.72px;
//   align-items: flex-start;
//   justify-content: flex-start;
//   margin: 0 auto !important;
// }

::ng-deep .mega-overlay{
  top: 104px;
  left: 0 !important;
  right: 0 !important;
  max-height: 500px;
  width: 1259.72px;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto ;
}