<!--REACTIVE FORM-->
<form novalidate [formGroup]="pianoForm">

    <div class="row products-section">
        <div class="col-12">
            <div class="breadcrumbs-row noborder">
                <div class="bc-col">
                    <ul>
                        <li><a href="javascript:void(0)">Condominio</a></li>
                        <li>{{updatePianoId ? 'Aggiorna Piano' : 'Aggiungi Piano' }}</li>
                    </ul>
                </div>
                <div class="bc-col-btn ap-col-btn">
                    <button class="btn btn-save" type="submit" (click)="onSubmits()"><img
                            src="assets/img/tick-round-white.png"> Salva
                    </button>
                    <button class="btn btn-cancel" (click)='cancel()'><img
                            src="assets/img/close-white-ico.png"> Cancella
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="flex addproduct-wrap">
        <div class="card ap-general">
            <div class="ap-header">
                <span> 1 </span> Generali
            </div>
            <div class="flex ap-body">
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Numero Piano<sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="" formControlName="numPiano" [ngClass]="{'validationcolor':pianoForm.get('numPiano').hasError('required') &&pianoForm.get('numPiano').touched && submitted}">
                        <div class="validation-error" *ngIf="pianoForm.get('numPiano').hasError('required') &&pianoForm.get('numPiano').touched && submitted">
                        </div>
                    </div>
                </div>
                <!--col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Ordinamento<sup>*</sup></label>
                        <input type="text" appOnlyNumber class="form-control" placeholder="" formControlName="ordinamento" [ngClass]="{'validationcolor':pianoForm.get('ordinamento').hasError('required') &&pianoForm.get('ordinamento').touched && submitted}">
                        <div class="validation-error" *ngIf="pianoForm.get('ordinamento').hasError('required') &&pianoForm.get('ordinamento').touched && submitted">
                            {{'catalog.Error.SortOrderRequired'| translate}}
                        </div>
                    </div>
                </div>

                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Stato<sup>*</sup></label>
                        <select class="form-control custom-select" formControlName="stato" placeholder="stato" [ngClass]="{'validationcolor':!pianoForm.get('stato').valid && !pianoForm.get('stato').untouched && submitted}">
                            <option value=''>- -Select Status- -</option>
                            <option value="1">Enabled</option>
                            <option value="0">Disabled</option>
                        </select>
                        <div class="validation-error" *ngIf="pianoForm.get('stato').hasError('required') &&pianoForm.get('stato').touched && submitted">
                            {{'catalog.Error.StatusRequired'| translate}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>