<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Change_Password' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="!(commonSandbox.changePasswordSuccess$ | async)" class="ion-padding">
    <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
      <ion-item [class.error]="submitted && fields.oldPassword.errors">
        <ion-label position="stacked">{{
          'Old_Password' | translate
        }}</ion-label>
        <ion-icon (click)="changeInputType('old')" slot="end" [name]="showPassword['old'] ? 'eye' : 'eye-off'">
        </ion-icon>
        <ion-input formControlName="oldPassword" [type]="showPassword['old'] ? 'text' : 'password'"></ion-input>
      </ion-item>
      <div *ngIf="submitted && fields.oldPassword.errors" class="invalid-feedback">
        <div *ngIf="fields.oldPassword.errors.required">
          {{ 'Old_Password' | translate }}{{ 'is_required' | translate }}
        </div>
        <div *ngIf="fields.oldPassword.errors.minlength">
          {{ 'Old_Password' | translate
          }}{{ 'Should_be_minimum_5_character' | translate }}
        </div>
        <div *ngIf="fields.oldPassword.errors.maxlength">
          {{ 'Old_Password' | translate
          }}{{ 'Should_be_maximum_12_character' | translate }}
        </div>
      </div>
      <ion-item [class.error]="submitted && fields.newPassword.errors">
        <ion-label position="stacked">{{
          'New_Password' | translate
        }}</ion-label>
        <ion-icon (click)="changeInputType('new')" slot="end" [name]="showPassword['new'] ? 'eye' : 'eye-off'">
        </ion-icon>
        <ion-input minlength="6" maxlength="12" formControlName="newPassword"
          [type]="showPassword['new'] ? 'text' : 'password'"></ion-input>
      </ion-item>
      <div *ngIf="submitted && fields.newPassword.errors" class="invalid-feedback">
        <div *ngIf="fields.newPassword.errors.required">
          {{ 'New_Password' | translate }}{{ 'is_required' | translate }}
        </div>
        <div *ngIf="fields.newPassword.errors.minlength">
          {{ 'New_Password' | translate
          }}{{ 'Should_be_minimum_5_character' | translate }}
        </div>
        <div *ngIf="fields.newPassword.errors.maxlength">
          {{ 'New_Password' | translate }}
          {{ 'Should_be_maximum_12_character' | translate }}
        </div>
      </div>
      <ion-item [class.error]="submitted && fields.confirmPassword.errors">
        <ion-label position="stacked">{{
          'Confirm_Password' | translate
        }}</ion-label>
        <ion-icon (click)="changeInputType('confirm')" slot="end" [name]="showPassword['confirm'] ? 'eye' : 'eye-off'">
        </ion-icon>
        <ion-input formControlName="confirmPassword" [type]="showPassword['confirm'] ? 'text' : 'password'"></ion-input>
      </ion-item>
      <div *ngIf="submitted && fields.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="fields.confirmPassword.errors.required">
          {{ 'Confirm_Password' | translate }}{{ 'is_required' | translate }}
        </div>
        <div *ngIf="fields.confirmPassword.errors.mustMatch">
          {{ 'Passwords_must_match' | translate }}
        </div>
      </div>

      <div class="passwordDisclaimer">
        <p>*Must be at least 8 characters long</p>
        <p>*Must contain at least one lowercase and one uppercase letter</p>
        <p>*Must contain at least one symbol or number</p>
      </div>
      <ion-button *ngIf="!(commonSandbox.changePasswordLoading$ | async)" type="submit" expand="full" color="secondary">
        {{ 'Update_Password' | translate }}
      </ion-button>
      <ion-button *ngIf="commonSandbox.changePasswordLoading$ | async" type="button" expand="full" color="secondary">
        <ion-spinner name="dots"></ion-spinner>
      </ion-button>
    </form>
  </div>
  <div *ngIf="commonSandbox.changePasswordSuccess$ | async" class="password-success">
    <ion-icon name="checkmark-circle"></ion-icon>
    <h1>{{ 'Success' | translate }} !</h1>
    <p>{{ 'Your_Password_has_been_changed_successfully' | translate }}</p>
    <ion-button (click)="exitPage()" shape="round">{{
      'Okay' | translate
    }}</ion-button>
  </div>
</ion-content>