ion-input {
  font-family: 'Rubik', sans-serif !important;
}

ion-label {
  font-family: 'Rubik', sans-serif !important;
}

ion-footer {
  padding: 1rem;
}

ion-button {
  margin-top: 10vh;
  text-transform: none;
}

.password-success {
  background: var(--ion-color-primary);
  height: 100%;
  text-align: center;
  color: var(--ion-color-light);

  ion-icon {
    margin-top: 12vh;
    font-size: 5rem;
    border-radius: 50%;
    background: var(--ion-color-secondary);
  }

  h1 {
    margin: 0;
  }

  p {
    margin: 12px;
  }

  ion-button {
    text-transform: none;
    --color: var(--ion-color-primary);
    --color-activated: var(--ion-color-primary);
    --background: var(--ion-color-primary-contrast);
    --background-activated: var(--ion-color-primary-contrast);
  }
}

.error {
  --highlight-color-focused: var(--ion-color-danger);
  --highlight-color-invalid: var(--ion-color-danger);
  --highlight-color-valid: transparent;
}

ion-item {
  --highlight-color-focused: transparent;
  --highlight-color-invalid: transparent;
  --highlight-color-valid: transparent;
}

.passwordDisclaimer {
  // margin-top: 30px;

  p {
    font-size: 12px;
    margin: 5px 0;
  }
}