<!-- 
<h2 class="text-muted text-center">{{'authentication.ForgotAccount'|translate}}</h2>
<form [formGroup]="forgotForm" novalidate>
    <mat-form-field class="w-100 mt-2" [ngClass]="{'validationcolor':
    (forgotForm.controls.emailId.hasError('required') && submitted)}" >
        <input matInput  placeholder="Email" formControlName="emailId" required >
        <mat-error *ngIf="forgotForm.controls['emailId'].hasError('required') && submitted">{{'Error.EmailIsRequired'|translate}}</mat-error>
        <mat-error *ngIf="forgotForm.controls['emailId'].hasError('invalidEmail') && submitted">{{'Error.InvalidEmailAddress'|translate}}</mat-error>
    </mat-form-field>
    <div class="text-center mt-2">
        <button mat-fab color="primary"  class="mat-elevation-z6" (click)="onForgotFormSubmit(forgotForm.value)">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-2">
        <div class="divider w-100"></div>
        <h3 class="text-muted auth forgot" routerLink="/auth/sign-in">{{'authentication.GoBackToLogin'|translate}}</h3>
        <div class="divider w-100"></div>
    </div>
</form> -->



<!-- <div class="header-section"> -->
  <!-- <div class="logo">
      <img src="assets/imgs/marketplace-login.png">
  </div> -->
  <!-- <div class="recover-back flex">
      <a href="javascript:void(0)" [routerLink]="['/auth']">
          << Back </a>
  </div> -->
<!-- </div> -->
<div class="body-section">
    <ng-container  *ngIf="!isFormOpen && (authSandbox.userToken$ | async)?.status !== 1" >
        <form [formGroup]="forgotForm" (ngSubmit)="onForgotFormSubmit(forgotForm.value)">
            <div class="recover-form">
                <span class="title">{{'Forgot Password.Forgot Password'|translate}}</span>
                <span class="content">{{'Forgot Password.Enter Email'|translate}}</span>
                <span class="content">{{'Forgot Password.Reset Password'|translate}}</span>
                <input type="text" formControlName="email" placeholder="Your email ID">
                <div *ngIf="!(authSandbox.recoverLoading$ | async) && (forgotForm.controls['email'].hasError('required') && submitted)" class="error-data">{{'Forgot Password.Email Required'|translate}}</div>
                <div *ngIf="!(authSandbox.recoverLoading$ | async) && (forgotForm.controls['email'].hasError('invalidEmail') && submitted)" class="error-data">{{'Forgot Password.Invalid Email'|translate}}</div>
                <button style="cursor: pointer;" class="ripple"  (click)="onForgotFormSubmit(forgotForm.value)">      
                     <i *ngIf="authSandbox?.recoverLoading$ | async" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
          
                     <span *ngIf="!(authSandbox.recoverLoading$ | async)">{{'Forgot Password.Sumbit'|translate}}</span>
                  </button>

                    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-2">
                        <div class="divider w-100"></div>
                        <h3 class="text-muted auth forgot" routerLink="/auth/sign-in">{{'authentication.GoBackToLogin'|translate}}</h3>
                        <div class="divider w-100"></div>
                    </div> -->
                    <p class="backLogin" routerLink="/auth/sign-in">{{'Forgot Password.GoBack'|translate}}</p>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="isFormOpen && (authSandbox.userToken$ | async)?.status == 1">
        <div class="recover-form">
            <!-- <span class="title">Forgot Password</span> -->
            <h2 style="font-weight: 500">{{(authSandbox.userToken$ | async)?.message}}</h2>
        </div>
    </ng-container>
  </div>
  
  