.top-postion {
  background: var(--ion-color-primary) url('../../../../../assets/images/login-background.png') no-repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
  ion-button {
    text-transform: none;
    opacity: 0.7;
    position: absolute;
    right: 5%;
    height: 32px;
    margin-top: 3vh;
  }
  img{
    height: 85px;
    margin-top: 12vh;
  }
}


@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -350px 0;
  }
}

.text-bottom {
  bottom: 0;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(rgba(var(--ion-color-primary-rgb), 0.35), 18%, var(--ion-color-primary));
  color: white;
  min-height: 56%;
  overflow: scroll;
  border-bottom: 1px solid var(--ion-color-primary-contrast);
  padding: 0 33px;
  ion-row {
    margin-top: 60px;
  }
  ion-label {
    color: var(--ion-color-primary);
    font-family: 'Rubik', sans-serif;
  }
  ion-item {
    display: block;
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-valid: transparent;
    --background: transparent;
    border-bottom: 1px groove;
    margin-top: 8px;
    ion-icon {
      font-size: 15px;
      color: var(--ion-color-primary-contrast);
    }
  }

  ion-input {
    color: white;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
  }
  .forgot-pass {
    text-align: right;
    margin-top: 20px;
  }

  .errorMsg {
    color: var(--ion-color-danger);
    font-size: 12px;
  }

  .cancel {
    --background: gray;
    text-transform: none;
    --border-radius: 18px;
    width: 14vh;
  }
  .sendPass {
    text-transform: none;
    margin-left: 1rem;
    width: 25vh;
    --border-radius: 18px;
  }
  .forget-password-top {
    display: block;
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-valid: transparent;
    --background: transparent;
    border-bottom: 1px groove;
    margin-top: 30px;
  }
  .forgotpassword {
    margin-top: 25px;
  }
}

.sign-change {
  width: 100%;
  display: inline-block;
  h2 {
    width: 28%;
    display: inline-block;
    font-weight: 500;
  }
  p {
    width: 70%;
    display: inline-block;
    padding-left: 10%;
    font-size: 12px;
    span {
      font-size: 14px;
      text-decoration: underline;
      color: var(--ion-color-secondary);
    }
  }
}

ion-footer {
  height: 4.5rem;
  background: var(--ion-color-primary);
  .login-btn {
    text-transform: none;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 27px;
    padding-right: 27px;
    margin-top: 15px;
  }
}