<div class="options transition" [ngClass]="{'show': showOptions}">
    <button mat-raised-button (click)="showOptions = !showOptions" class="options-icon mat-elevation-z0">
        <img src="assets/img/color-palatte.svg">
    </button>
    <mat-card fxLayout="column" fxLayoutAlign="space-between start"> 
        <span class="skin-icon blue" (click)="changeTheme('blue')" (click)="logo('blue')"></span>
        <span class="skin-icon green" (click)="changeTheme('green')"  (click)="logo('green')"></span> 
        <span class="skin-icon red" (click)="changeTheme('red')" (click)="logo('red')"></span> 
        <span class="skin-icon pink" (click)="changeTheme('pink')" (click)="logo('pink')"></span> 
        <span class="skin-icon purple" (click)="changeTheme('purple')" (click)="logo('purple')"></span>
        <span class="skin-icon grey" (click)="changeTheme('grey')" (click)="logo('grey')"></span> 
        <span class="skin-icon yellow" (click)="changeTheme('yellow')" (click)="logo('yellow')"></span>      
     
    </mat-card>
</div>


