.options{
    width: 42px;
    height: 250px;
    position: fixed;
    top: 100px;
    right: -62px;
    z-index: 9999;
    &.show {
        .options-icon {
            left: -35px;
        }
    }
    .options-icon{
        padding: 0;
        position: absolute;
        top: 1px;
        left: -56px;
        min-width: 38px;
        z-index: 1;
        background: transparent;
    }
    .mat-card{
        position: absolute;
        padding: 14px 4px;
        width: 100%;
        height: 100%;
        background: #e6e6e6;
        width: 42px;
    }
    &.show{
        right: -2px;
    }
    .skin-icon{
        width: 27px;
        height: 17px;
        cursor: pointer;
        position: relative;
        &:before {
            content: " ";
            width: 0; height: 0;
            border-bottom: 7px solid;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            position: absolute;
            top: -7px;
        }
        &:after {
            content: "";
            width: 0;
            position: absolute;
            bottom: -7px;
            border-top: 7px solid;
            border-color: inherit;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
        }
        &.green{
            background-color: #689f38;
            &:before {
                border-bottom-color: #689f38;
            }
            &:after {
                border-top-color: #689f38;
            }
        }
        &.blue{
            background-color: #1976d2;
            &:before {
                border-bottom-color: #1976d2;
            }
            &:after {
                border-top-color: #1976d2;
            }
        }
        &.red{
            background-color: #d32f2f;
            &:before {
                border-bottom-color: #d32f2f;
            }
            &:after {
                border-top-color: #d32f2f;
            }
        }
        &.pink{
            background-color: #c2185b;
            &:before {
                border-bottom-color: #c2185b;
            }
            &:after {
                border-top-color: #c2185b;
            }
        }
        &.purple{
            background-color: #7b1fa2;
            &:before {
                border-bottom-color: #7b1fa2;
            }
            &:after {
                border-top-color: #7b1fa2;
            }
        }
        &.grey{
            background-color: #455a64;
            &:before {
                border-bottom-color: #455a64;
            }
            &:after {
                border-top-color: #455a64;
            }
        }
        &.yellow{
            background-color: #F2E13B;
            &:before {
                border-bottom-color: #F2E13B;
            }
            &:after {
                border-top-color: #F2E13B;
            }
        }
    }
}


