<div class="subtoolbar catalogtoolbar">
    <div class="sub-nav-menu">
        <a href="javascript:void(0)" [routerLink]=" ['/condominio/piano']" [appHideIfUnauthorized]="'condominio-piano'" [routerLinkActive]="'active'">
            <img src=""> Piano
        </a>
        <a href="javascript:void(0)" [appHideIfUnauthorized]="'condominio-fornitore'" [routerLink]="['/condominio/fornitore']" [routerLinkActive]="'active'">
            <img src=""> Fornitori
        </a>
        <a href="javascript:void(0)" [appHideIfUnauthorized]="'condominio-tipo-spesa'" [routerLink]="['/condominio/tipo-spesa']" [routerLinkActive]="'active'">
            <img src=""> Tipi di spesa
        </a>
        <a href="javascript:void(0)" [appHideIfUnauthorized]="'condominio-generale'" [routerLink]="['/condominio/generale']" [routerLinkActive]="'active'">
            <img src=""> Generale
        </a>
        <a href="javascript:void(0)" [appHideIfUnauthorized]="'condominio-fotovoltaico'" [routerLink]="['/condominio/fotovoltaico']" [routerLinkActive]="'active'">
            <img src=""> Fotovoltaico
        </a>
        <a href="javascript:void(0)" [appHideIfUnauthorized]="'condominio-corrente'" [routerLink]="['/condominio/conto-corrente']" [routerLinkActive]="'active'">
            <img src=""> Conto Bancario
        </a>
    </div>
</div>