<div class="row products-section products-sub-section">
    <div class="col-12">
        <div class="breadcrumbs-row">
            <div class="bc-col">
                <ul>
                    <li><a href="javascript:void(0)"> Condominio</a></li>
                    <li> Generale</li>
                </ul>
            </div>
            <div class="bc-col-btn">
                <button class="btn" (click)='addGenerale()' [appHideIfUnauthorized]="'create-brands'"><img
                        src="assets/img/add-white-ico.png"> Aggiungi Generale
                </button>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->
    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
                <div class="toggle">
                    <p>Filtri</p>
                    <input class="tgl tgl-light" id="cb1" type="checkbox" [checked]="true" (change)="changeFilter($event)" />
                    <label class="tgl-btn" for="cb1"></label>
                </div>
                <div class="order-status">
                    <p>{{'Sales.Orders.Status'| translate}}</p>
                    <li style="list-style: none">
                        <span style="display: inline-block;width: 14px;height: 16px;margin-right: 6px;vertical-align: middle;background-color: #32b643;"></span>Active
                        <span style="display: inline-block;width: 14px;height: 16px;margin-left: 3px;margin-right: 7px;vertical-align: middle;background-color: #ea5738e6;"></span>In Active

                    </li>
                </div>
            </div>
            <!--Lft-->
            <div class="filter-nav-list">
                <ul class="flex">
                    <li *ngIf="filterDataId.length > 0" style="margin-left: 15px;" [ngbPopover]="deleteContent1" placement="left" #deletePop="ngbPopover">
                        <a><img src="assets/img/delete-ico.png" />{{'catalog.nav.Delete' | translate}}</a>
                    </li>
                    <li *ngIf="filterDataId.length > 0" [appHideIfUnauthorized]="'export-brands'">
                        <a href="javascript:void(0)" (click)="exportGenerale()"> <img src="assets/img/export-ico.png"> {{'catalog.product.Export'| translate}} </a>
                    </li>
                </ul>
            </div>
            <!--Right-->
        </div>
    </div>
</div>



<div class="flex product-wrap example-full-width">
    <div *ngIf="buttonCheck == true" class="filter-section">
        <div class="w3-container w3-animate-left">
            <app-condominio-generale-filter (progressEmit)="receiveProgress($event)"></app-condominio-generale-filter>
        </div>
    </div>
    <!--Filter-->
    <div class="product-table" [ngClass]="{'changesize': buttonCheck == true }">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" width="5%" [appHideIfUnauthorized]="'delete-brands' || 'export-brands'">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input *ngIf="sandbox.getGeneraleList$ | async as brands" type="checkbox" class="custom-control-input" id="checkbox1" [(ngModel)]="selectedAll" (change)="selectAll()" />
                                    <label class="custom-control-label" for="checkbox1"></label>
                                </div>
                            </div>
                        </th>
                        <th class="text-center" scope="col">Nome Generale</th>
                        <th class="text-center" scope="col">Piano</th>
                        <th class="text-center" scope="col">Mq Catastali</th>
                        <th class="text-center" scope="col">Millesimi</th>
                        <th class="text-center" scope="col">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let arr of generaleListArray'>
                        <th scope="row" class="text-center" [appHideIfUnauthorized]="'delete-brands' || 'export-brands'">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id={{arr.generaleId}} value="check" [(ngModel)]="arr.selected" (change)="checkIfAllSelected()">
                                    <label class="custom-control-label" for={{arr.generaleId}}></label>
                                </div>
                            </div>

                        </th>

                        <td class="text-center">{{arr.generaleId}}
                        </td>
                        <!-- <td class="text-center">
                            <img *ngIf="arr.image" [src]="imageUrl+ '?width=60&height=60&path=' + arr.imagePath + '&name='+ arr.image" onError="this.src='/assets/error-images/Load-icon-Products.png';" (load)="generaleListImageLoading(arr.manufacturerId)" [hidden]="!brandListImage[arr.manufacturerId]">
                            <img src="./assets/error-images/Load icon Products.png" [hidden]="brandListImage[arr.manufacturerId]">
                        </td> -->
                        <td class="text-center">{{arr.pianoId}}</td>
                        <td class="text-center">{{arr.mqCatastali}}</td>
                        <td class="text-center">{{arr.millesimi}} {{arr.Sum}}</td>

                        <td class="text-center">
                            <a href="javascript:void(0)" (click)='editGenerale(arr)' [appHideIfUnauthorized]="'edit-brands'"> <img src="assets/img/edit-ico.png"></a>
                            <a href="javascript:void(0)" [appHideIfUnauthorized]="'delete-brands'">
                                <img src="assets/img/delete-file-ico.png" [ngbPopover]="deleteContent" placement="bottom" #deletePop="ngbPopover" style="margin-left: 15px;">
                                <ng-template #deleteContent>
                                    <div class="style">
                                        <div class="modal-header">
                                            <h6 class="modal-title" style="margin-left: 17%;">{{'catalog.product.DoYouWantToDelete'| translate}}
                                            </h6>
                                        </div>
                                        <div class="modal-footer" style="margin-right: 23%;">
                                            <button type="button" class="btn btn-danger" (click)="deletePop.close()" data-dismiss="modal">{{'catalog.product.No'| translate}}
                                            </button>
                                            <button type="button" class="btn btn-success" (click)="deleteGenerale(arr.generaleId, deletePop)" data-dismiss="modal">{{'catalog.product.Yes'| translate}}
                                            </button>
                                        </div>
                                    </div>
                                </ng-template>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no_data" *ngIf="(sandbox.getGeneraleList$|async)?.length == 0">
                <p>{{'Sales.Orders.datanotfound'| translate}}</p>
            </div>
            <mat-paginator #paginator [length]='(sandbox.getGeneralecount$|async)' [pageSize]="pageSize" [pageSizeOptions]="[pageSize]" (page)="onPageChange($event)">
            </mat-paginator>

        </div>
    </div>
    <!--Table-->
</div>

<ng-template #deleteContent1>
    <div class="style">
        <div class="modal-header">
            <h6 class="modal-title" style="margin-left: 17%;">
                Do you want to delete ?
            </h6>
        </div>

        <div class="modal-footer" style="margin-right: 23%;">
            <button type="button" class="btn btn-danger" (click)="deletePop.close()" data-dismiss="modal">
          No
        </button>
            <!-- <button type="button" class="btn btn-success" (click)="bulkDelete()" data-dismiss="modal">
          Yes
        </button> -->
        </div>
    </div>
</ng-template>