<ion-content>
  <ion-button style="--background: #1f45a4;" (click)="changeTheme('blue')"> </ion-button>
  <ion-button style="--background: #000;" (click)="changeTheme('black')"> </ion-button>
  <ion-button style="--background: #032f02;" (click)="changeTheme('green')"> </ion-button>
  <ion-button style="--background: #960000;" (click)="changeTheme('red')"> </ion-button>
  <ion-button style="--background: #5e1f90;" (click)="changeTheme('purple')"> </ion-button>
  <ion-button style="--background: #bd1a5e;" (click)="changeTheme('pink')"> </ion-button>
  <ion-button style="--background: #278474;" (click)="changeTheme('fadedGreen')"> </ion-button>

</ion-content>
