<!--REACTIVE FORM-->
<form novalidate [formGroup]="fotovoltaicoForm">

    <div class="row products-section">
        <div class="col-12">
            <div class="breadcrumbs-row noborder">
                <div class="bc-col">
                    <ul>
                        <li><a href="javascript:void(0)">Condominio</a></li>
                        <li>{{updateFotovoltaicoId ? 'Aggiorna Fotovoltaico' : 'Aggiungi Fotovoltaico' }}</li>
                    </ul>
                </div>
                <div class="bc-col-btn ap-col-btn">
                    <button class="btn btn-save" type="submit" (click)="onSubmits()"><img
                            src="assets/img/tick-round-white.png"> Salva
                    </button>
                    <button class="btn btn-cancel" (click)='cancel()'><img
                            src="assets/img/close-white-ico.png"> Cancella
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="flex addproduct-wrap">
        <div class="card ap-general">
            <div class="ap-header">
                <span> 1 </span> Fotovoltaico
            </div>
            <div class="flex ap-body">
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Numero Sub<sup>*</sup></label>
                        <input type="text" appOnlyNumber class="form-control" placeholder="" formControlName="fotovoltaicoId" [ngClass]="{'validationcolor':fotovoltaicoForm.get('fotovoltaicoId').hasError('required') &&fotovoltaicoForm.get('fotovoltaicoId').touched && submitted}">
                        <div class="validation-error" *ngIf="fotovoltaicoForm.get('fotovoltaicoId').hasError('required') &&fotovoltaicoForm.get('fotovoltaicoId').touched && submitted">
                            Sub Richiesto
                        </div>
                    </div>
                </div>
                <div class="data-col">
                    <div class="form-group">
                        <label>Piano<sup>*</sup></label>

                        <select class="custom-select col-12" formControlName="pianoId" [ngClass]="{'validationcolor':fotovoltaicoForm.get('pianoId').hasError('required') && fotovoltaicoForm.get('pianoId').touched&&submitted==true}">
                            <option value=''>- -Seleziona Piano- -</option>
                            <option *ngFor=" let list of pianoSandbox.getPianoList$ | async" value="{{list.pianoId}}">{{list.numPiano}}</option>
                        </select>
                        <div class="validation-error" *ngIf="fotovoltaicoForm.get('pianoId').hasError('required') && fotovoltaicoForm.get('pianoId').touched&&submitted==true">
                            pianoId è richiesto
                        </div>
                    </div>
                </div>
                <!--col-->
                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Mq Catastali<sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="" formControlName="mqCatastali" [ngClass]="{'validationcolor':fotovoltaicoForm.get('mqCatastali').hasError('') &&fotovoltaicoForm.get('mqCatastali').touched && submitted}">
                        <div class="validation-error" *ngIf="fotovoltaicoForm.get('mqCatastali').hasError('required') &&fotovoltaicoForm.get('mqCatastali').touched && submitted">
                            Mq Catastali Richiesti
                        </div>
                    </div>
                </div>

                <div class="ap-body-col">
                    <div class="form-group">
                        <label>Millesimi<sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="" formControlName="millesimi" [ngClass]="{'validationcolor':fotovoltaicoForm.get('millesimi').hasError('') &&fotovoltaicoForm.get('millesimi').touched && submitted}">
                        <div class="validation-error" *ngIf="fotovoltaicoForm.get('millesimi').hasError('required') &&fotovoltaicoForm.get('millesimi').touched && submitted">
                            Millesimi Richiesti
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>